<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.sazel.android.heros_control"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="MyActivity"
                android:taskAffinity="cz.sazel.android.heros.control"
                android:label="@string/OSControl" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SelectIdActivity" android:label="@string/selectID2" android:screenOrientation="portrait"/>
    </application>
</manifest>
